body {
	font-family: "PT Sans", "Verdana", sans-serif;
	font-size: 14px;
	line-height: 21px;
	margin: 0;
	padding: 0;
	background-color: #f2f2f2;
}

.container {
	width: 1200px;
	margin: 0 auto;
	box-shadow: 0 0 20px 0 #dedede;
}

.title-text {
	width: 600px;
	padding: 0 20px;
	margin: 0;
	margin-bottom: 30px;
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	text-transform: uppercase;
}

.advantage-list p {
	margin-top: 0;
}

.main-menu {
	background-color: #ffffff;
	position: relative;
}

.header-nav {
	margin: 0;
	padding: 0;
	font-size: 0;
}

.main-menu {
	padding: 0 37px;
}
 
.header-nav li {
	width: 120px;
	font-size: 14px;
	font-weight: bold;
	line-height: 26px;
	list-style: none;
	padding: 15px 35px;
	display: inline-block;
	vertical-align: top;
	text-transform: uppercase;
}

.header-nav li:nth-child(1) {
	margin-right: 50px;
}

.header-nav li:nth-child(2) {
	margin-right: 296px;
}

.header-nav li:nth-child(3) {
	margin-right: 15px;
}

.header-nav li:nth-child(4) {
	padding: 15px 1px 15px 78px;
	width: 115px;
}



/* .header-nav li:first-of-type {
	margin-right: 50px;
}

.header-nav li:last-of-type {
	margin-left: 45px;
} */

/* .left-column-menu {
	width: 395px;
	margin-left: 43px;
	float: left;
}

.right-column-menu {
	width: 395px;
	margin-right: 36px;
	float: right;
} */

.header-nav a {
	text-decoration: none;
	color: #000000;
}

.header-nav a:hover {
	color: #81b3d2;
}

.header-nav a:active{
	color:#b2b2b2;
}

.header-nav .active {
	color: #766357;
}

.main-menu .header-logo {
	height: 46px;
	padding-top: 0;
	padding-bottom: 0;
	position: absolute;
	top: 0px;
	left: 530px; 
} 


.header-image {
    background: url("../img/img-1200/bg-white.png")bottom no-repeat,
				#547698 url("../img/img-1200/background-photo.jpg") 0 -56.5px no-repeat;
	padding: 76px 0 74px 0;
	text-align: center;
}

.paragraph {
	font-size: 14px;
    line-height: 21px;
	margin: 0;
	margin-bottom: 20px;
	
}

.title-item {
	margin:0 0 25px 0;
	font-size: 21px;
    text-transform: uppercase;
	line-height: 21px;
	font-weight: bold;
	width: 155px;
	padding: 0 67px;
}

.wanna-buy {
	display: block;
	margin-bottom: 33px;
	line-height: 24px;
    text-transform: uppercase;
	font-size: 30px;
}
 
.advantage-list {
	background-color: #ffffff;
	color: #000000;
	text-align: center;
	text-transform: uppercase;
	padding: 60px 280px 40px 280px;
}

.feature-item-1,
.feature-item-2 {
	background-color: #81b3d2;
	color:  #ffffff;
	width: 290px;
	text-align: center;
	padding: 53px 55px 33px 55px;
	text-transform: uppercase;
}

.feature-item-1 {
	float:left;
}

 .feature-img-1 {
	float: right;
	width: 800px;
	height: 257px;
	
} 

.feature-item-2 {
	float: right;
} 

.feature-img-2 {
	float: left;
	width: 800px;
	height: 257px;
}


.feature-icon-1,
.feature-icon-2,
.feature-icon-3 {
	background-color: #ffffff;
	color: #000000;
	width: 290px;
	text-align: center;
	text-transform: uppercase;
	padding: 157px 55px 62px 55px;
	
}

.feature-icon-1 {
	float: left;
	background-image: url("../img/img-1200/icon-house.png");
	background-repeat: no-repeat;
	background-position: 50% 57px;
}

.feature-icon-2 {
	float: left;
	background-image: url("../img/img-1200/icon-food.png");
	background-repeat: no-repeat;
	background-position: 50% 58px;
}

.feature-icon-3 {
	float: right;
	background-image: url("../img/img-1200/icon-souvenir.png");
	background-repeat: no-repeat;
	background-position:  50% 53px;
}


.feature-item-grey {
	background-color: #eeeeee;
	width: 290px;
	text-transform: uppercase;
	text-align: center;
	padding: 45px 55px 40px 55px;
	float: left;
}

.feature-item-grey:last-child {
	float: right;
}

.best-advantage {
	background-color: #ffffff;
	position: relative;
	text-align: center;
	line-height: 24px;
	text-transform: uppercase;
	padding: 55px 280px 80px 280px;
	clear: both;
}

.best-advantage .best-choice {
	margin: 0;
	margin-bottom: 50px;
	width: 400px;
	padding: 0 120px 0 120px;
}

.booking-title {
	position: absolute;
	z-index: 2;
	bottom: 0;
	left: 315px;
	width: 400px;
	padding: 33px 85px 30px 85px;
	margin: 0 auto;
	background-color: #766357;
	color: white;
}

.map {
	background-image: url("../img/img-1200/map.jpg");
	width: 1200px;
	height: 593px;
	position: relative;
	z-index: 0;
}

.booking {
	position: absolute;
	font-size:14px;
	line-height: 26px;
	font-weight: bold;
	text-transform: uppercase;
	top: 0px;
	left: 315px;
	background-color: #ffffff;
	width: 460px;
	z-index: 2;
	padding: 55px;
	padding-bottom: 57px;
	box-shadow: 0 5px 30px 0 #9190a5;
	z-index: 1;
}

.booking input {
	width: 300px;
	height: 26px;
	background-color: #f2f2f2;
	border: none;
	font-size: 14px;
	line-height: 26px;
	font-weight: bold;
	font-family:  "PT Sans", "Verdana", sans-serif;
	color: #000000;
	text-transform: uppercase;
	margin-bottom: 30px;
	padding: 5px;
}

.input-space {
	display: flex;
	justify-content: space-between;
}

.input-space label {
	margin-top: 8px;
}

.input-space .arrival-date, 
.input-space .departure-date {
	padding: 5px 40px 5px 10px;
}

.input-space .calendar {
	display: block;
	background: white;
	height: 25px;
	width: 25px;
	position: absolute;
	background:  url("../img/img-1200/sprite-form.png")-90px -8px no-repeat;
}

.input-space-1 .calendar {
	right: 66px;
    top: 61px;
}

.input-space-2 .calendar {
	right: 65px;
    top: 128px;
}

.input-space .calendar:hover {
	background-position: -49px -8px;
}

.input-space .calendar:active {
	background-position: -8px -8px;
}

.booking .kids,
.booking .adults {
	width: 17px;
	height: 26px;
	/* line-height: 26px; */
	padding: 5px 8px 5px 11px ;
}

.form-btn {
	display: inline-block;
	vertical-align: top;
	width: 40px;
	height: 35.9px;
	border: none;
    background: #f2f2f2 url("../img/img-1200/sprite-form.png")120px 50px;
}

.input-column .form-btn,
.input-column input {
	display: inline-block;
	vertical-align: top;
}

.input-space-3 .input-column {
	font-size: 0;
}

.input-space-3 .btn-minus1 {
	background-position: 193px 50px;
}

.input-space-3 .btn-minus1:hover {
	background-position: 129px 50px;
}

.input-space-3 .btn-minus1:active {
	background-position: 160.5px 50px;
}


.input-space-3 .btn-plus1 {
	background-position: 97px 45px;
}

.input-space-3 .btn-plus1:hover {
	background-position: 35.5px 45px;
}

.input-space-3 .btn-plus1:active {
	background-position: 66.4px 45px;
}

.input-space-3 .btn-minus2 {
	background-position: 193px 50px;
}

.input-space-3 .btn-minus2:hover {
	background-position: 129px 50px;
}

.input-space-3 .btn-minus2:active {
	background-position: 160.5px 50px;
}

.input-space-3 .btn-plus2 {
	background-position: 97px 45px;
}


.input-space-3 .btn-plus2:hover {
	background-position: 35.5px 45px;
}

.input-space-3 .btn-plus2:active {
	background-position: 66.4px 45px;
}

.booking input:hover {
	background-color: #ebebeb;
}


.booking input:focus {
	background-color: #ffffff;
	outline: 2px solid #e5e5e5;
}

.map .booking .submit {
	height: 60px;
	width: 100%;
	padding: 16px 140px 16px 140px;
	background-color: #81b3d2;
	color: #ffffff;
	font-size: 21px;
	text-align: center;
	cursor: pointer;
	margin: 0;
	margin-top: 30px;
}

.booking .submit:hover {
	background-color: #669ec0;
}

.booking .submit:active {
	background-color: #5496bd;
	color: rgba(255, 255, 255, 0.3);
}


.main-footer {
	background-color: rgba(255, 255, 255, 0.9);
	width: 1054px;
	position: absolute;
	bottom: 0px;
	padding: 36px 73px 35px 73px
}

.hotels-page {
	position: static;
}

.column {
	display: inline-block;
	vertical-align: middle;
}


.hashtag a {
	width: 140px;
	font-size: 21px;
	font-weight: bold;
	line-height: 26px;
	text-decoration: none;
	text-transform: uppercase;
	color: #000000;
	padding: 0 44px 0 59px;
}

.social-media {
	margin: 0 210px;
}



.social {
	display: inline-block;
	vertical-align: middle;
	width: 45px;
	height: 48px;
	background-color:  #81b3d2;
	margin-right: 2px;
	background-image: url("../img/img-1200/spritesheet.png");
	background-repeat: no-repeat;
}

.social-tw {
	background-position: -79px 2px;
}

.social-tw:hover {
	background-color:  #669ec0;
}

.social-tw:active {
	background-color:  #5496bd;
	background-position: -126px 2px;
}

.social-fb {
	background-position: 3px 0;
}

.social-fb:hover {
	background-color: #669ec0;
}

.social-fb:active {
	background-color:  #5496bd;
	background-position: -37px 0;
}


.social-yt {
	background-position: -175px 2px;
}

.social-yt:hover {
	background-color: #669ec0;
}

.social-yt:active {
	background-color:  #5496bd;
	background-position: -225px 2px;
}


.copyright {
	width: 200px;
	font-size: 14px;
	line-height: 26px;
	text-transform: uppercase;
	padding: 0 10px 0 13px;
}

.copyright .academy {
	display: inline-block;
	vertical-align: middle;
	background-image: url("../img/img-1200/academy-sprite.png");
	background-repeat: no-repeat;
	width: 115px;
	height: 40px;
	background-position: -9px -9px;
}

.copyright .academy:hover {
	background-position: -9px -127.1px;
}

.copyright .academy:active {
	background-position: -9px -68px;
}

.middle {
	padding-right: 10px;
	display: inline-block;
	vertical-align: middle;
}


.academy-footer {
	width: 113px;
	height: 39px;
	padding-left: 5px;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}


.filters {
	background-color: #547698;
	background-image: url("../img/img-1200/filter-bg.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	color: #ffffff;
	font-size: 14px;
	line-height: 21px;
	padding: 20px 0;
}

.filters form {
	text-transform: uppercase;
}

.filters h2 {
	font-size: 16px;
	line-height: 21px;
}

.filters-menu {
	margin-bottom: 0;
	background-color: #ffffff;
	font-size: 12px;
	line-height: 18px;
	text-transform: uppercase;
}


input[type="checkbox"] {
	display: none;
}

input[type="checkbox"] + label {
	display: block;
	margin: 25px 0;
	line-height: 21px;
	padding-left: 40px;
	position: relative;
	cursor: pointer;
}

input[type="checkbox"] + label::before {
	content: "";
	width: 26px;
	height:26px;
	background: url("../img/img-1200/sprite-check.png") no-repeat -56px -9px;
	position: absolute;
	top: 0;
	left: 0;
}

input[type="checkbox"]:checked  + label::after {
	content: "";
	width: 25px;
	height: 25px;
	background: url("../img/img-1200/sprite-check.png") no-repeat -10px -9px;
	position: absolute;
	top: 0;
	left: 0;
}

.filters-checkbox {
	display: block;
	float: left;
	width: 170px;
	margin-right: 86px;
}

.filters-checkbox:first-child {
	margin-left: 72px;
}

.filters-checkbox h2 {
	margin: 7px 0 25px 0;
}

.filters-checkbox label:last-child {
	margin: 0;
}

.filters-price {
	display: block;
	float: right;
	margin-right: 72px;
	width: 317px;
	color: #ffffff;
	text-transform: uppercase;
}

.filters-price-title {
	font-weight: bold;
	font-size: 16px;
	line-height: 21px;
	margin-bottom: 10px;
	margin-top: 6px;
}

.price-controls {
	height: 32px;
	margin-bottom: 20px;
	border: 2px solid #ffffff;
	border-radius: 2px;
	font-size: 0;
	position: relative;
}

.price-controls::after {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	width: 2px;
	height: 22px;
	background: #ffffff;
	transform: translate(-50%, -50%);
}

.price-controls label {
	display: inline-block;
	vertical-align: middle;
	font-size: 14px;
	line-height: 28px;
	cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
	width: 90px;
	padding-left: 65px;
}

.price-controls input {
	width: 50px;
	margin: 0;
	color: inherit;
	font: inherit;
	background: none;
	outline: none;
	border: none;
}

.range-controls {
	position: relative;
	margin-bottom: 32px;
}

.range-controls .scale {
	height: 2px;
	background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
	height: 2px;
	width: 80%;
	background: white;
}

.range-toogle {
	position: absolute;
	top: -9px;
	width: 4px;
	height: 4px;
	background: #ababab;
	border: 8px solid white;
	border-radius: 50%;
	box-shadow: 0 2px 1px 0 rgba("0, 1, 1, 0.2");
	cursor: pointer;
}

.range-toogle:hover {
	background: #1c4f80;
}

.range-toogle-min {
	left: 0;
}

.range-toogle-max {
	left: 80%;
}

.range-btn {
	display: block;
	margin: 0 auto;
	padding: 5px 30px;
	font-size: 14px;
	line-height: 20px;
	color: #ffffff;
	background: transparent;
	text-transform: uppercase;
	border: 2px solid #ffffff;
	border-radius: 2px;
	cursor: pointer;
	outline: none;
	margin-bottom: 16px;
}

.range-btn:hover {
	background: #ffffff;
	color: #000000;
}

.sort-column-left {
	float: left;
	margin-left: 72px;
	padding: 25px 0;
}

.sort-find {
	display: inline-block;
	vertical-align: middle;
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	margin: 0;
	margin-right: 45px;
	padding: 5px 0;
}

.sort-column-right {
	float: right;
	margin-right: 72px;
	padding: 35px 0 25px 0;
	font-size: 0;
}

.arrow {
	width: 20px;
	height: 20px;
	display: inline-block;
	vertical-align: middle;
	background-color: #fff;
	background-repeat: no-repeat;
	background-image: url("../img/img-1200/btn-sort.png");
	border: none;
    outline-color: rgba(170, 187, 247, 0.1);
}

.arrow-up {
     background-position: -100px -6px;
}

.arrow-up:hover {
	 background-position: -162px -6px;
}

.arrow-up:active {
	 background-position: -131px -6px;
}

.arrow-down {
	background-position: -7px -6px;
}

.arrow-down:hover {
	background-position: -69px -6px;
}

.arrow-down:active,
.sort-column-right .active {
	background-position: -38px -6px;
}

.search-list {
	padding: 0;
	margin: 0;
	list-style: none;
	display: inline-block;
	vertical-align: middle;
}

.search-list li {
	display: inline-block;
	vertical-align: middle;
	margin-right: 30px;
}

.sort-column-left .sorting {
	display: inline-block;
	vertical-align: middle;
	font-size: 12px;
	font-weight: normal;
	line-height: 18px;
	text-transform: uppercase;
	margin: 0;
	margin-right: 36px;
}

.search-list a {
	text-decoration: none;
	border-bottom: 1px dotted #81b3d2;
	color: #d5d5d5;
}

.search-list a:hover,
.search-list .active-sort {
	color: #81b3d2;
	border: none;
}

.search-list a:active{
	color: #000;
	border: none;
}

.hotels {
	background-color: #ffffff;
}

.hotels article {
	border-top: 1px solid #ddd;
}

.hotels article:last-child {
	border-bottom: 1px solid #ddd;
}

.hotels h2 {
	font-size: 21px;
	line-height: 26px;
}

.hotels .picture {
	padding-top: 30px;
	padding-bottom: 25px;
	margin-left: 72px;
}

.picture {
	float: left;
	margin-right: 30px;
}

.picture a {
	display: block;
}

.about-hotel {
	float: left;
}

.hot-link {
	width: 760px;
	display: block;
	text-decoration: none;
	color: #000;
}

.rating {
	float: right;
	margin-right: 72px;
}

.rating span {
	display: block;
	background-color: #f2f2f2;
	padding: 3px 15px 3px 15px;
	margin-top: 93px;
	text-transform: uppercase;
}

article .hotel {
	padding-bottom: 15px;
}

.details-btn {
	text-transform: uppercase;
	font-weight: bold;
	display: inline-block;
	vertical-align: middle;
	text-decoration: none;
	color: #ffffff;
	background-color: #81b3d2;
	padding: 3px 17px 3px 17px;
	margin-right: 2px;
}

.details-btn:hover {
	background-color: #669ec0;
	color:  #ffffff;
}

.details-btn:active {
	background-color: #5496bd;
	color: rgba(255, 255, 255, 0.3);
}

.check-btn {
	text-transform: uppercase;
	font-weight: bold;
	display: inline-block;
	vertical-align: middle;
	text-decoration: none;
	color: #ffffff;
	background-color: #766357;
	padding: 3px 17px 3px 17px;
}

.check-btn:hover{
	background-color: #604e43;
	color: #ffffff;
}

.check-btn:active {
	background-color: #503e33;
	color: rgba(255, 255, 255, 0.3);
}


.hot-name {
	text-transform: uppercase;
    margin-top: 25px;
    margin-bottom: 7px;
	font-size: 21px;
    line-height: 26px;
}

.hot-type {
	text-transform: uppercase;
    margin-top: 0px;
    margin-bottom: 14px;
	font-size: 14px;
    line-height: 21px;
}

.amara .hot-price {
	margin-left: 35px;
}

.desert .hot-price {
	margin-left: 60px;
}

.diablo .hot-price {
	margin-left: 17px;
}



.hot-link:hover {
	color: #81b3d2;
}

.hot-link:active {
	color: rgba(0, 0, 0, 0.3) ;
}

.amara .rating   {
	background-image: url("../img/img-1200/stars-4.png");
	background-repeat: no-repeat;
	background-position: 23px 30px;
}

.desert .rating   {
	background-image: url("../img/img-1200/stars-3.png");
	background-repeat: no-repeat;
	background-position: 47px 28px;
}

.diablo .rating  {
	background-image: url("../img/img-1200/stars-2.png");
	background-repeat: no-repeat;
	background-position: 72px 27px;
}


