body {
	font-family: "PT Sans", "Verdana", sans-serif;
	font-size: 14px;
	line-height: 26px;
	background-color: #d2f4e0;
	
}

.container {
	width: 1200px;
	margin: 0 auto;
}

h2{
	font-size: 21px;
	font-weight: bold;
}

.main-header,
.advantage-list {
    height: 57px;
	background-color: #ffffff;
}


li {
	list-style: none;
}

li a {
	text-decoration: none;
	color: black;
	font-weight: bold;
	padding: 73px;
	
}


.left li {
	float: left;
	margin-top: 16px;
	margin-bottom: 16px;
	margin-left: 0;
}

.right li{ 
	float: right;
	margin-top: 16px;
	margin-bottom: 16px;
}


li .header-logo {
	padding-right: 53px;
	margin-top: 0;

}

.clearfix::after { 
    content: "";
    display: table;
    clear: both;
}

 .white-space {
	margin-top: -60px;
}

.advantage-list  p,
.advantage-list h1 {
	text-align: center;
	padding: 0 200px 0 200px;

}

