body {
	font-family: "PT Sans", "Verdana", sans-serif;
	font-size: 14px;
	line-height: 21px;
	margin: 0;
	padding: 0;
}

.container {
	width: 1200px;
	margin: 0 auto;
}

h1 {
	font-size: 21px;
	line-height: 26px;
}

h2 {
	font-size: 21px;
}
.main-menu {
	background-color: #ffffff;
}

.header-nav li {
	font-size: 14px;
	line-height: 26px;
	list-style: none;
}

.header-nav a {
	text-decoration: none;
	color: #000000;
}


.header-image {
	background-color: #b8b5bf;
    background-image: url("../img/img-1200/background-photo.jpeg") no-repeat;
}

.advantage-list {
	background-color: #ffffff;
	color: #000000;
	text-align: center;
}

.feature-item {
	background-color: #81b3d2;
	color:  #ffffff;
	width: 290px;
	text-align: center;
	padding: 55px;
}

.feature-img-1 {
	background-image: url("../img/img-1200/image-1.jpg");
}

.feature-icon-1,
.feature-icon-2,
.feature-icon-3 {
	background-color: #ffffff;
	color: #000000;
	width: 290px;
	text-align: center;
	padding: 55px;
}



.feature-img-2 {
	background-image: url("../img/img-1200/image-2.jpg");
}

.feature-item-grey {
	background-color: #eeeeee;
	width: 290px;
	text-align: center;
	padding: 55px;
}




.best-advantage {
	text-align: center;
	line-height: 24px;
}


.best-advantage strong {
	font-size: 30px;
}